.holiday {
	background-color: #ff0000 !important;
}

.dayoff {
	background-color: #acacac !important;
}

.fc-event-inner .fc-event-title {
 filter: alpha(opacity=0) !important;
 opacity: 0 !important;
}

.fc-event-vert .fc-event-time {
font-weight: bold;
font-size: .85em;
}